---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: web-server-ingress
  namespace: default
  annotations:
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/rewrite-target: /$2
spec:
  ingressClassName: nginx
  rules:
  - host: ""
    http:
      paths:
        - path: /nginx(/|$)(.*)
          pathType: ImplementationSpecific
          backend:
            service:
              name:  nginx-project
              port:
                number: 80
        - path: /quiz-query(/|$)(.*)
          pathType: ImplementationSpecific
          backend:
            service: 
              name: quiz-query-service
              port:
                number: 3503